# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
env/

# Data (ne pas versionner les données brutes/volumineuses)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Notebooks checkpoints
.ipynb_checkpoints/

# OS / IDE
.DS_Store
.vscode/
.idea/

# Env
.env

# Cache pytest
.pytest_cache/
